<div class="container" id="serieA-carousel">
    <!-- Serie A Carousel -->
    <h2>Prodotti Serie A</h2>
    <br>
    <br>
    <div class="slider-wrapper">
        <div class="card-list" [style.transform]="getTransformStyle('serieA')">
            <div class="card-item" *ngFor="let product of serieAProducts">
                <img class="user-image" [src]="product.image" alt="{{product.name}}">
                    <h2 class="user-name">{{product.name}}</h2>
                        <p class="user-profession">{{product.year}}</p>
                        <p class="price">{{product.price | currency:'EUR':'€':'1.2-2':'it'}}</p>
                        <button class="message-button" (click)="navigateToProduct(product.id)">Aggiungi al carrello</button>
            </div>
        </div>
    </div>
</div>

<div class="btn-container">
    <button class="btn" (click)="moveSlide('serieA','prev')">Prev</button>
    <button class="btn" (click)="moveSlide('serieA','next')">Next</button>
</div>

<br>
<br>

<!-- Premier League Carousel -->

<div class="container" id="premier-carousel">

    <h2>Prodotti Premier League</h2>
    <br>
    <br>
    <div class="slider-wrapper">
        <div class="card-list" [style.transform]="getTransformStyle('premier')">
            <div class="card-item" *ngFor="let product of premierProducts">
                <img class="user-image" [src]="product.image" alt="{{product.name}}">
                    <h2 class="user-name">{{product.name}}</h2>
                        <p class="user-profession">{{product.year}}</p>
                        <p class="price">{{product.price | currency:'EUR':'€':'1.2-2':'it'}}</p>
                        <button class="message-button" (click)="navigateToProduct(product.id)">Aggiungi al carrello</button>
            </div>
        </div>
    </div>
</div>

<div class="btn-container">
    <button class="btn" (click)="moveSlide('premier','prev')">Prev</button>
    <button class="btn" (click)="moveSlide('premier','next')">Next</button>
</div>

<br>
<br>

<!-- La Liga Carousel -->

<div class="container" id="laliga-carousel">

    <h2>Prodotti La Liga</h2>
    <br>
    <br>
    <div class="slider-wrapper">
        <div class="card-list" [style.transform]="getTransformStyle('laliga')">
            <div class="card-item" *ngFor="let product of laligaProducts">
                <img class="user-image" [src]="product.image" alt="{{product.name}}">
                    <h2 class="user-name">{{product.name}}</h2>
                        <p class="user-profession">{{product.year}}</p>
                        <p class="price">{{product.price | currency:'EUR':'€':'1.2-2':'it'}}</p>
                        <button class="message-button" (click)="navigateToProduct(product.id)">Aggiungi al carrello</button>
            </div>
        </div>
    </div>
</div>

<div class="btn-container">
    <button class="btn" (click)="moveSlide('laliga','prev')">Prev</button>
    <button class="btn" (click)="moveSlide('laliga','next')">Next</button>
</div>

<br>
<br>

<!-- MLS Carousel -->

<div class="container" id="MLS-carousel">

    <h2>Prodotti MLS</h2>
    <br>
    <br>
    <div class="slider-wrapper">
        <div class="card-list" [style.transform]="getTransformStyle('MLS')">
            <div class="card-item" *ngFor="let product of mlsProducts">
                <img class="user-image" [src]="product.image" alt="{{product.name}}">
                    <h2 class="user-name">{{product.name}}</h2>
                        <p class="user-profession">{{product.year}}</p>
                        <p class="price">{{product.price | currency:'EUR':'€':'1.2-2':'it'}}</p>
                        <button class="message-button" (click)="navigateToProduct(product.id)">Aggiungi al carrello</button>
            </div>
        </div>
    </div>
</div>

<div class="btn-container">
    <button class="btn" (click)="moveSlide('MLS','prev')">Prev</button>
    <button class="btn" (click)="moveSlide('MLS','next')">Next</button>
</div>

<br>
<br> 