<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="background">
  <div class="shape"></div>
  <div class="shape"></div>
</div>

<div class="profile-container">
  <div class="sidebar">
      <button
        (click)="setActiveContent('default')"
        [ngClass]="{'active': activeContent === 'default'}">{{ user.nome | titlecase }} {{ user.cognome | titlecase }}<i class='bx bx-user'></i></button>
    
    <div class="button-container">
      <button 
        (click)="setActiveContent('modifica')"
        [ngClass]="{'active': activeContent === 'modifica'}">Modifica</button>

      <button 
        (click)="setActiveContent('ordini')"
        [ngClass]="{'active': activeContent === 'ordini'}">Ordini</button>

      <button 
        (click)="setActiveContent('portafoglio')"
        [ngClass]="{'active': activeContent === 'portafoglio'}">Portafoglio</button>

      <button 
        (click)="setActiveContent('vediamo')"
        [ngClass]="{'active': activeContent === 'vediamo'}">Mo vediamo</button>
    </div>

    <button class="crazy" (click)="logout()">
      Logout
    </button>
  </div>

  <!-- Card a destra con contenuti dinamici -->
  <div class="card-2">

    <div class="form" *ngIf="activeContent === 'modifica'">

      <div class="edit">
        <h1>Modifica Profilo</h1>

        <div class="campo">
          <label>Nome:</label>
          <input type="text" [(ngModel)]="user.nome" />
        </div>
      
        <div class="campo">
          <label>Cognome:</label>
          <input type="text" [(ngModel)]="user.cognome" />
        </div>

        <div class="campo">
          <label>Email:</label>
          <input type="email" [(ngModel)]="user.email" />
        </div>

        <button (click)="updateUser()">Salva Modifiche</button>
      </div>
      
    </div>

    <div *ngIf="activeContent === 'ordini'">
      <p>Contenuto per Ordini</p>
    </div>

    <div *ngIf="activeContent === 'portafoglio'">
      <p>Contenuto per Portafoglio</p>
    </div>

    <div *ngIf="activeContent === 'vediamo'">
      <p>Contenuto per Mo Vediamo</p>
    </div>

    <div *ngIf="activeContent === 'default'">
      <h1>Ciao {{user.nome | titlecase}} {{user.cognome | titlecase}}</h1>
      <p>Questo è il tuo profilo e da qui potrai gestire tutto quanto sul tuo account</p>
    </div>
  </div>
</div>
