/* Profile container layout */
.profile-container {
  height: 520px;
  width: 1000px;
  background-color: rgba(255, 255, 255, 0.13);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 55%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

/* Background shapes */
.background {
  width: 430px;
  height: 520px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.background .shape {
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
}

.shape:first-child {
  background: linear-gradient(#CC3843, #0c1f2c);
  left: -80px;
  top: 0px;
}

.shape:last-child {
  background: linear-gradient(to right, #0c1f2c, #CC3843);
  right: -30px;
  bottom: -80px;
}

/* Sidebar */
.sidebar {
  width: 250px;
  height: 100%;
  background: #CC3843;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 15px;
}

.sidebar .img {
  width: 70px;
  height: 70px;
  background: #9e000b;
  border-radius: 50%;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar .user-info{
  padding: 12px 20px;
  border-radius: 8px;
  border: none;
  background: #b00510;
  color: white;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 20px;
}

button{
  padding: 12px 20px;
  border-radius: 8px;
  border: none;
  background: #9e000b;
  color: white;
  font-weight: 600;
  cursor: pointer;
  text-align: left;
}

.crazy{
  margin-top: 15px;
  width: 100%;
}

.button-container button {
  padding: 12px 20px;
  border-radius: 8px;
  border: none;
  background: #9e000b;
  color: white;
  font-weight: 600;
  cursor: pointer;
  text-align: left;
}

.button-container button:hover {
  background: #c1000d;
  transition: 0.4s all ease-in-out;
}

.button-container button.active {
  background-color: #e43945; /* Colore attivo */
  font-weight: bold;
}

.button-container button.active:hover {
  background-color: #d11c28;
}

/* Card a destra */
.card-2 {
  width: 600px;
  height: 100%;
  background: #0c1f2c;
  border: 5px solid #e0cb07;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-2 .img {
  width: 70px;
  height: 70px;
  background: #9e000b;
  border-radius: 50%;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-2 span {
  font-size: 16px;
  font-weight: 600;
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

.card-2 .job {
  font-weight: 400;
  color: white;
  display: block;
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
}

.card-border-top {
  width: 60%;
  height: 3%;
  background: #9e000b;
  margin: auto;
  border-radius: 0px 0px 15px 15px;
}

i .bx:before{
  font-size: 20px;
}

/* Layout responsive */
@media (max-width: 768px) {
  .profile-container {
    flex-direction: column;
  }
  .sidebar {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  .card-2 {
    width: 100%;
  }
}
