<br>
<br>
<br>
<br>

<app-product-carousel>
    <div class="container" id="serieA-carousel">
      <h2>Prodotti Serie A</h2>
      <!-- Carosello Serie A -->
    </div>
  
    <div class="container" id="premier-carousel">
      <h2>Prodotti Premier League</h2>
      <!-- Carosello Premier League -->
    </div>
  
    <div class="container" id="laliga-carousel">
      <h2>Prodotti La Liga</h2>
      <!-- Carosello La Liga -->
    </div>
  
    <div class="container" id="MLS-carousel">
      <h2>Prodotti MLS</h2>
      <!-- Carosello MLS -->
    </div>
  </app-product-carousel>
  
<app-campionati></app-campionati>