<section class="home section">
    <div class="img-container">
    <img src="/assets/homebanner.jpg" alt="Foto sfondo" class="home__bg">
        <div class="home__shadow"></div>
    </div>

    <div class="home__container container grid">
        <div class="home__data">
            <h1 class="home__subtitle">
                Benvenuto su MisteryFootball
            </h1>

            <p class="home__description">
                Scopri il mondo delle magliette da calcio, comprese le vintage, da ogni campionato immaginabile!
            </p>

            <a [routerLink]="['/prodotti']" class="button">
                Scopri di Piu <i class='bx bx-right-arrow-alt' ></i>
            </a>
        </div>

        <div class="home__cards grid">
            <article class="home__card" (click)="navigateToSection('serieA')">
                <img src="/assets/SerieA.jpg" alt="" class="home__card-img">
                <h3 class="home__card-title">Serie A</h3>
                <div class="home__card-shadow"></div>
            </article>
            <article class="home__card" (click)="navigateToSection('premier')">
                <img src="/assets/PremierLeague.png" alt="" class="home__card-img">
                <h3 class="home__card-title">Premier League</h3>
                <div class="home__card-shadow"></div>
            </article>
            <article class="home__card" (click)="navigateToSection('laliga')">
                <img src="/assets/Bundesliga.png" alt="" class="home__card-img">
                <h3 class="home__card-title">Bundesliga</h3>
                <div class="home__card-shadow"></div>
            </article>
            <article class="home__card" (click)="navigateToSection('MLS')">
                <img src="/assets/Ligue1.png" alt="" class="home__card-img">
                <h3 class="home__card-title">Ligue 1</h3>
                <div class="home__card-shadow"></div>
            </article>
        </div>
    </div>
</section>

<section class="about section">
    <div class="about__container container grid">
        <div class="about__data">
            <h2 class="section__title">
                Scopri tutti <br>
                i nostri prootti
            </h2>

            <p class="about__description">
                Le nostre magliette sono in vendita per tutti gli appassionati di calcio e non solo, sempre più le maglie da calcio fanno parte degli abbigliamenti di tutti grazie allo scoppiare dello streetwear, questo sito è studiato anche per gli appassionati di quest'ultimo
            </p>

            <a [routerLink]="['/prodotti']" class="button">Scopri le nostre magliette <i class='bx bx-right-arrow-alt' ></i></a>
        </div>

        <div class="about__image">
            <img src="/assets/RealMadridStatio.jpg" alt="" class="about__img">
            <div class="about__shadow"></div>
        </div>
    </div>
</section>

<section class="popular__products">
    <div class="popular__data">
        <app-product-carousel></app-product-carousel>
    </div>
</section>

<section class="popular section">
    <h2 class="section__title">
        Goditi la qualità <br>
        delle nostre magliette
    </h2>

    <div class="popular__container container grid">
        <article class="popular__card" [routerLink]="['/product', 5]">
            <div class="popular__image">
                <img src="/assets/NapoliStadio.jpg" alt="" class="popular__img">
                <div class="popular__shadow"></div>
            </div>

            <h2 class="popular__title">
                Napoli 
            </h2>

            <div class="popular__location">
                <i class='bx bxs-right-arrow' ></i>
                <span>Serie A</span>
            </div>
        </article>

        <article class="popular__card" [routerLink]="['/product', 6]" >
            <div class="popular__image">
                <img src="/assets/ArsenalStadio.jpg" alt="" class="popular__img">
                <div class="popular__shadow"></div>
            </div>

            <h2 class="popular__title">
                Arsenal
            </h2>

            <div class="popular__location">
                <i class='bx bxs-right-arrow' ></i>
                <span>Premier League</span>
            </div>
        </article>

        <article class="popular__card">
            <div class="popular__image">
                <img src="/assets/PSGStadio.jpg" alt="" class="popular__img">
                <div class="popular__shadow"></div>
            </div>

            <h2 class="popular__title">
                Paris Saint German
            </h2>

            <div class="popular__location">
                <i class='bx bxs-right-arrow' ></i>
                <span>Ligue 1</span>
            </div>
        </article>
    </div>
</section>

<section class="explore section">
    <div class="explore__container">
        <div class="explore__image">
            <img src="/assets/BarcelonaStadio.jpg" alt="" class="explore__img">
            <div class="explore__shadow"></div>
        </div>

        <div class="explore__content container grid">
            <div class="explore__data">
                <h2 class="section__title">
                    Ogni settimana <br>
                    Nuove offerte
                </h2>

                <p class="explore__description">
                    La nostra idea è di avere per una settimana le stesse magliette in offerta, che cambieranno ogni venerdi, lo sconto del 30% che renderà più accessibili a tutti le nostre magliette 
                </p>
            </div>

        </div>
    </div>
</section>

<footer class="footer">
    <div class="footer__container container grid">
        <div class="footer__content grid">
            <div>
                <a href="" class="footer__logo">MisteryFootball</a>

                <p class="footer__description">
                    Il miglior sito di maglie da calcio <br>
                     per disponibilità e qualità
                </p>
            </div>

            <div class="footer__data grid">
                <div>
                    <h3 class="footer__title">About</h3>

                    <ul class="footer__links">
                        <li>
                            <a href="" class="footer__link">Su di noi</a>
                        </li>

                        <li>
                            <a href="" class="footer__link">Collab</a>
                        </li>

                        <li>
                            <a href="" class="footer__link">Notizie</a>
                        </li>
                    </ul>
                </div>

                <div>
                    <h3 class="footer__title">Compagnia</h3>

                    <ul class="footer__links">
                        <li>
                            <a href="" class="footer__link">Q&A</a>
                        </li>

                        <li>
                            <a href="" class="footer__link">Storia</a>
                        </li>

                        <li>
                            <a href="" class="footer__link">Recensioni</a>
                        </li>
                    </ul>
                </div>

                <div>
                    <h3 class="footer__title">Contatti</h3>

                    <ul class="footer__links">
                        <li>
                            <a href="" class="footer__link">Chiama</a>
                        </li>

                        <li>
                            <a href="" class="footer__link">Supporto</a>
                        </li>

                        <li>
                            <a href="" class="footer__link">Contattaci</a>
                        </li>
                    </ul>
                </div>

                <div>
                    <h3 class="footer__title">Supporto</h3>

                    <ul class="footer__links">
                        <li>
                            <a href="" class="footer__link">Privacy</a>
                        </li>

                        <li>
                            <a href="" class="footer__link">Termini e servizi</a>
                        </li>

                        <li>
                            <a href="" class="footer__link">Pagamenti</a>
                        </li>
                    </ul>
                </div>


            </div>
        </div>

        <div class="footer__group">
            <div class="footer__social">
                <a href="" target="_blank" class="footer__social-link">
                    <i class='bx bxl-facebook-circle' ></i>
                </a>

                <a href="" target="_blank" class="footer__social-link">
                    <i class='bx bxl-instagram-alt' ></i>
                </a>

                <a href="" target="_blank" class="footer__social-link">
                    <i class='bx bxl-tiktok' ></i>
                </a>

                <a href="" target="_blank" class="footer__social-link">
                    <i class='bx bxl-youtube' ></i>
                </a>
            </div>

            <span class="footer__copy">
                &#169; Copyright Bryan Uppolo | All right deserved
            </span>
        </div>
    </div>
</footer>

