<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="background">
  <div class="shape"></div>
  <div class="shape"></div>
</div>

<form (submit)="register()">
  <h3>Registrazione</h3>

  <label for="email">Email</label>
  <input type="email" [(ngModel)]="email" name="email" id="email" required>

  <label>Password</label>
  <input type="password" [(ngModel)]="password" name="password" id="password" required>

  <button type="submit">Registrati</button>
  <div class="social">
    <div class="go"><i class="fab fa-google"></i>Hai gia un account? Accedi</div>
  </div>
</form>
<p *ngIf="message">{{ message }}</p>



  